/* google font  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400;1,500&display=swap");

/* default reseting size */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}


/* header stylesheet start  */

header {
    background-image: url(./images/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}


/* common css  */

.highlight {
    color: #ff008e;
}

.primary-button {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #cc0874, #ff008e);
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 0 #ac0661;
    position: relative;
    top: 0;
}

.primary-button:active {
    top: 5px;
    box-shadow: 0 2px 0 #ac0661;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #ff008e;
    margin: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 15px 10px;
}


/* Header style end from here  */


/* baner-section start here  */

.banner {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-left h1 {
    font-size: 45px;
    color: #fff;
}

.banner-left p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.banner-right img {
    width: 100%;
}


/* Feature section start here  */

.feature {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 30px 35px rgba(0, 0, 0, 0.2);
}

.card .card-icon {
    height: 30px;
    width: 30px;
    background-color: #ff008e;
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.card h3 {
    color: #ff008e;
    font-size: 25px;
}

.card p {
    margin: 10px 0;
    line-height: 1.5;
}

.card a {
    text-decoration: none;
    color: #ff008e;
}