/* google font  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400;1,500&display=swap");

/* default reseting size */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}


/* header stylesheet start  */

header {
    background-image: url(./images/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}


/* common css  */

.highlight {
    color: #ff008e;
}

.primary-button {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #cc0874, #ff008e);
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 0 #ac0661;
    position: relative;
    top: 0;
}

.primary-button:active {
    top: 5px;
    box-shadow: 0 2px 0 #ac0661;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #ff008e;
    margin: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 15px 10px;
}


/* Header style end from here  */


/* baner-section start here  */

.banner {
    height: calc(100vh - 80px);
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-left h1 {
    font-size: 45px;
    color: #fff;
}

.banner-left p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.banner-right img {
    width: 100%;
}


/* Feature section start here  */

.feature {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 30px 35px rgba(0, 0, 0, 0.2);
}

.card .card-icon {
    height: 30px;
    width: 30px;
    background-color: #ff008e;
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.card h3 {
    color: #ff008e;
    font-size: 25px;
}

.card p {
    margin: 10px 0;
    line-height: 1.5;
}

.card a {
    text-decoration: none;
    color: #ff008e;
}


/* gallary past star here  */

.gallary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ff008e;
}


/* Contact section start here  */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contact-left img {
    width: 100%;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-field {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #ff008e;
}


/* footer section  */

footer {
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Nav toggler bar */

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
    color: white;
    font-size: 30px;
}


/* Responsive Css with Media Quary  */

@media (max-width: 950px) {
    .gallary {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-left h1 {
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    .banner,
    .feature {
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .feature,
    .gallary,
    .contact {
        grid-template-columns: 1fr;
    }
    .photo {
        text-align: center;
    }
    .photo img {
        max-width: 350px;
    }
    .banner-left {
        order: 1;
        padding: 50px 0;
    }
    .nav-toggler-icon {
        display: block;
    }
    .navigation {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 20px 0;
        transform: translateY(-320px);
        transition: 0.5s ease-in-out;
    }
    .navigation li a {
        color: black;
    }
    #nav-toggler:checked~.navigation {
        transform: translateY(0);
        transition: 0.5s ease-in-out;
    }
}